.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .Header-right{
    display: flex;
    align-items: center;
  }
  
  .Header-left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
    min-width: 70px;
  }
  
  .Header-left > input {
    border: none;
    width: 100%;
  }
  
  .Header-right > h4 {
    margin-left: 10px;
  }
  
