.login {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
}

.login > img {
	height: 100px;
}

.login > a {
	padding: 20px;
	border-radius: 99px;
	font-weight: 800;
	background-color: #1bd954;
	text-decoration: none;
	color: white;
}

.login {
	display: grid;
	background-color: black;
	height: 100vh;
	place-items: center;
}

.login > img {
	height: 200px;
}

.login > a {
	color: black;
	text-decoration: none;
	padding: 20px;
	font-family: cubano;
	border-radius: 99px;
	font-size: x-large;
	font-weight: 300;
	background-color: #1db954;
}
