@font-face {
	font-family: "Cubano";
	src: url(../../assets/fonts/Cubano/Cubano.ttf);
}

.Login {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
}

.Login > img {
	height: 500px;
}

.Login > a {
	font-family: Cubano;
	color: black;
	text-decoration: none;
	padding: 20px;
	font-family: cubano;
	border-radius: 99px;
	font-size: x-large;
	font-weight: 300;
	background-color: #1db954;
}
